<le-header></le-header>

<div class="container">
  <h1>Add item</h1>
  <form [formGroup]="addListItemForm" (submit)="addListItem()">
    <md-input-container>
      <input mdInput type="text" placeholder="List item" formControlName="name">
    </md-input-container>

    <button md-raised-button type="submit" [disabled]="addListItemForm.invalid">Add item</button>
  </form>

  <h1>{{ (list | async)?.name }}</h1>
  <md-card class="le-list-items-card">
    <md-list>
      <template ngFor let-item [ngForOf]="listItems | async">
        <span *ngIf="!item.checked">
          <md-list-item class="le-list-item">
            <md-checkbox disableRipple [checked]="item.checked" (click)="checkItem(item.$key)">{{ item.name }}</md-checkbox>
            <span class="le-list-item__spacer"></span>
            <md-icon class="le-list-item__delete" (click)="deleteListItem(item.$key)">close</md-icon>
          </md-list-item>
          <md-divider></md-divider>
        </span>
      </template>

      <template ngFor let-item [ngForOf]="listItems | async" let-last="last">
        <span *ngIf="item.checked">
          <md-list-item class="le-list-item">
            <md-checkbox disableRipple [checked]="item.checked" (click)="uncheckItem(item.$key)">{{ item.name }}</md-checkbox>
            <span class="le-list-item__spacer"></span>
            <md-icon class="le-list-item__delete" (click)="deleteListItem(item.$key)">close</md-icon>
          </md-list-item>
          <md-divider *ngIf="!last"></md-divider>
        </span>
      </template>
    </md-list>
  </md-card>
</div>
