<le-header></le-header>

<div class="container">
  <h1>Add item</h1>
  <form [formGroup]="addListItemForm" (submit)="addListItem()">
    <md-input-container>
      <input mdInput type="text" placeholder="List item" formControlName="name">
    </md-input-container>

    <button md-raised-button type="submit" [disabled]="addListItemForm.invalid">Add item</button>
  </form>

  <h1>{{ (listName | async)?.name }}</h1>
  <ul>
    <li *ngFor="let item of listItems | async">
      {{ item.name }}
    </li>
  </ul>
</div>
