<le-header></le-header>

<main class="container le-no-cta-button" [ngSwitch]="userLists.length">
  <div *ngSwitchCase="0">
    <div class="le-loading-content" *ngIf="loadingLists">
      <div class="le-spinner le-spinner--purple">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>

    <div class="le-no-content" *ngIf="!loadingLists">
      <md-icon class="le-no-content__icon">delete</md-icon>
      <p class="le-no-content__message">Trash is empty</p>
    </div>
  </div>

  <div *ngSwitchDefault>
    <h1>Deleted lists</h1>
    <ng-template ngFor let-list [ngForOf]="userLists">
      <md-card class="le-list-card" [routerLink]="['/trash', list.$ref.key]">
        <span>{{ (list | async)?.name }}</span>

        <span class="le-list-card__spacer"></span>

        <button md-icon-button *ngIf="(list | async)?.ownersCount > 1" (click)="openListOwnersDialog(list.$ref.key); $event.stopPropagation()">
          <md-icon>group</md-icon>
        </button>

        <button md-icon-button [mdMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
          <md-icon>more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu">
          <button md-menu-item (click)="restoreList(list.$ref.key)">
            <md-icon>undo</md-icon>
            <span>Restore</span>
          </button>
          <button md-menu-item (click)="hardDeleteList(list.$ref.key)">
            <md-icon>close</md-icon>
            <span>Remove</span>
          </button>
        </md-menu>
      </md-card>
    </ng-template>
  </div>
</main>
