<le-header></le-header>

<div class="container">
  <h1>Removed lists</h1>
  <template ngFor let-list [ngForOf]="userLists">
    <md-card class="le-list-card">
      <!--<md-card [routerLink]="['/lists', (list | async)?.$key]">-->
      <span [routerLink]="['/trash', list.$ref.key]">{{ (list | async)?.name }}</span>

      <span class="le-list-card__spacer"></span>

      <button md-icon-button *ngIf="(list | async)?.ownersCount > 1" (click)="openListOwnersDialog(list.$ref.key)">
        <md-icon>group</md-icon>
      </button>

      <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>more_vert</md-icon>
      </button>
      <md-menu #menu="mdMenu">
        <button md-menu-item (click)="restoreList(list.$ref.key)">
          <md-icon>undo</md-icon>
          <span>Restore</span>
        </button>
        <button md-menu-item (click)="hardDeleteList(list.$ref.key)">
          <md-icon>close</md-icon>
          <span>Remove</span>
        </button>
      </md-menu>
    </md-card>
  </template>
</div>
