.le-share-list-form {
  text-align: center;
}

.le-delete-list-owner-form {
  p {
    text-align: center;
  }

  md-radio-button {
    display: block;
    margin: 15px 0;
  }
}

md-dialog-content {
  margin-top: 24px;
}

md-dialog-actions {
  justify-content: center;
}
