<le-header></le-header>

<div class="container">
  <h1>Add new list</h1>
  <form [formGroup]="addListForm" (submit)="addList(addListForm.value.name)">
    <md-input-container>
      <input mdInput type="text" placeholder="List name" formControlName="name">
    </md-input-container>

    <button md-raised-button type="submit">Add list</button>
  </form>

  <h1>Your lists</h1>
  <template ngFor let-list [ngForOf]="userLists">
    <md-card *ngIf="!(list | async)?.softDeleted">
    <!--<md-card *ngIf="!(list | async)?.softDeleted" [routerLink]="['/lists', (list | async)?.$key]">-->
      <span>{{ (list | async)?.name }}</span>


      <span class="spacer"></span>

      <!--<button md-icon-button>-->
      <!--<md-icon>create</md-icon>-->
      <!--</button>-->

      <!--<button md-icon-button>-->
      <!--<md-icon>clear</md-icon>-->
      <!--</button>-->

      <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>more_vert</md-icon>
      </button>
      <md-menu #menu="mdMenu">
        <button md-menu-item>
          <md-icon>create</md-icon>
          <span>Change name</span>
        </button>
        <button md-menu-item (click)="removeList('_list_id_2')">
          <md-icon>delete</md-icon>
          <span>Remove list</span>
        </button>
      </md-menu>


    </md-card>
  </template>
</div>
