<le-header></le-header>

<button md-fab (click)="openAddListDialog()" class="le-add-list-item">
  <md-icon>add</md-icon>
</button>

<div class="container">
  <h1>Your lists</h1>
  <template ngFor let-list [ngForOf]="userLists">
    <md-card class="le-list-card" *ngIf="!(list | async)?.softDeleted">
    <!--<md-card class="le-list-card" *ngIf="!(list | async)?.softDeleted" [routerLink]="['/lists', (list | async)?.$key]">-->
      <span [routerLink]="['/lists', list.$ref.key]">{{ (list | async)?.name }}</span>

      <span class="le-list-card__spacer"></span>

      <button md-icon-button *ngIf="(list | async)?.ownersCount > 1" (click)="openListOwnersDialog(list.$ref.key)">
        <md-icon>group</md-icon>
      </button>

      <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>more_vert</md-icon>
      </button>
      <md-menu #menu="mdMenu">
        <button md-menu-item (click)="openRenameListDialog(list.$ref.key)">
          <md-icon>create</md-icon>
          <span>Rename</span>
        </button>
        <button md-menu-item (click)="openShareListDialog(list.$ref.key)">
          <md-icon>share</md-icon>
          <span>Share</span>
        </button>
        <button md-menu-item (click)="softDeleteList(list.$ref.key)">
          <md-icon>delete</md-icon>
          <span>Delete</span>
        </button>
      </md-menu>
    </md-card>
  </template>
</div>
