.le-home {
  min-height: calc(100vh - (94px + 64px)); // subtract height of le-header and le-footer
  max-width: 270px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__claim {
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 30px;
  }

  &__anchor {
    text-decoration: none;
    color: rgba(0, 0, 0, .38);
    transition: all .3s;
    &:hover,
    &:focus {
      outline: none;
      color: #673ab7;
    }
  }
}

.le-form {
  max-width: 198px;

  &__submit-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 30px;
  }
}

.le-footer {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__anchor {
    text-decoration: none;
    color: rgba(0, 0, 0, .38);
    transition: all .3s;
    &:hover,
    &:focus {
      outline: none;
      color: #673ab7;
    }
  }
}
