<md-toolbar color="primary">
  <div class="container">
    <span>Listem</span>
  </div>
</md-toolbar>

<br><br>

<div class="container">
  <form [formGroup]="form">
    <div>
      <md-input-container>
        <input mdInput type="email" placeholder="E-mail" formControlName="email">
      </md-input-container>
    </div>

    <div>
      <md-input-container>
        <input mdInput type="password" placeholder="Password" formControlName="password">
      </md-input-container>
    </div>

    <br>

    <div class="form__submit-container">
      <button md-raised-button (click)="logIn()">Log in</button>
      <button md-raised-button (click)="signUp()">Sign up</button>
    </div>
  </form>
</div>
