.container {
  display: flex;
  justify-content: center;
}

.le-form {
  &__submit-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  &__reset-password {
    cursor: pointer;
    display: block;
    text-align: center;
    color: rgba(0, 0, 0, .38);
    transition: all .3s;
    &:hover {
      color: #673ab7;
    }
  }
}

.le-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #323232;
  transition: transform .3s;
  cursor: pointer;

  &__footnote {
    color: #fff;
    font-size: 10px;
    line-height: 1.4;
    margin: 15px;
    margin-right: 30px;
  }

  &__close {
    color: #fff;
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 22px;
  }
}
