<le-header></le-header>

<main class="container le-no-cta-button le-home">
  <p class="le-home__claim">Tame your work, shopping list and whatnot you need to do with Listem task management app.</p>

  <form class="le-form" [formGroup]="authForm">
    <div>
      <md-input-container>
        <input mdInput type="email" placeholder="E-mail" formControlName="email">
      </md-input-container>
    </div>

    <div>
      <md-input-container>
        <input mdInput type="password" placeholder="Password" formControlName="password">
      </md-input-container>
    </div>

    <div class="le-form__submit-container">
      <button md-raised-button (click)="logIn()" [disabled]="authForm.invalid">Log in</button>
      <button md-raised-button (click)="signUp()" [disabled]="authForm.invalid">Sign up</button>
    </div>
  </form>

  <a class="le-home__reset-password" (click)="openResetPasswordDialog()">Forgot password?</a>
</main>

<footer class="le-footer" (click)="hideFooter()">
  <span class="le-footer__close">&times;</span>
  <p class="le-footer__footnote">Autorem niniejszego serwisu jest Rafał Trzop. Serwis ten stanowi integralną część pracy licencjackiej (kierunek: Elektroniczne Przetwarzanie Informacji), przygotowanej pod kierunkiem prof. dr. hab. Jerzego Koniora na Wydziale Zarządzania i Komunikacji Społecznej Uniwersytetu Jagiellońskiego.</p>
</footer>
